{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "max-len": ["error", { "code": 120 }],
    "func-names": ["error", "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
    "no-prototype-builtins": "warn",
    "no-underscore-dangle": "warn",
    "react/prop-types": "warn",
    "linebreak-style": [0],
  },
  "env": {
    "browser": true
  },
}
